discord.py-self @ git+https://github.com/dolfies/discord.py-self@20ae80b398ec83fa272f0a96812140e14868c88
Flask==2.3.0
requests==2.33.0
aiohttp==3.14.1
rich==14.2.0
plyer==2.1.0
playsound3==3.3.0
python-dotenv==1.2.2
aiohttp-socks==0.10.1
cryptography==48.0.1
numpy
Pillow
onnxruntime
nopecha